<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %>  使用 ejs</h1>
    <p>Welcome to <%= title %></p>
    <h2>看準目標前進</h2>
  </body>
</html>
